sui-contracts/build
sui-java-service/*/target
sui-java-service/scripts
sui-contracts/core/build
sui-contracts/di/build
sui-contracts/nft-service-impl/build
Move.lock
sui-contracts/example_tokens/build
sui-contracts/utils/build
sui-contracts/utils/testnet_utils_publish.json
sui-contracts/core/testnet_core_publish.json
sui-contracts/di/testnet_di_publish.json
sui-contracts/nft-service-impl/testnet_nft_service_impl_publish.json
testnet_exchange_object.json
testnet_initialize_trade_pool.json
testnet_initialize_buy_pool.json
testnet_initialize_sell_pool.json
testnet_mint_test_nft.json
testnet_example_tokens_publish.json
