sui-contracts/build
sui-java-service/*/target
sui-java-service/scripts
sui-contracts/di/build
sui-contracts/core/build
sui-contracts/example_tokens/build
sui-contracts/nft-service-impl/build
sui-contracts/example_tokens
