spring:
  datasource:
    url: jdbc:mysql://localhost/test5?characterEncoding=utf8&serverTimezone=GMT%2b0&useLegacyDatetimeCode=false
    username: root
    password: 123456
#    url: jdbc:mysql://localhost/test5?characterEncoding=utf8&serverTimezone=GMT%2b0&useLegacyDatetimeCode=false
#    username: root

  jpa:
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          auto: update

server:
  port: 1023

sui:
  contract:
    jsonrpc:
      url: "https://fullnode.testnet.sui.io/"
      #url: "https://fullnode.devnet.sui.io/"
      #url: "http://localhost:9000"
    package-publish-transaction: "EfxbTRbB1jtXQyhvDf7ZitQoVJiDUGQL65HqEHgBQsP4"
